{% extends "base.html" %}


    {% block content %}
    <div class="row">
        <div class="col-3">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>150</h3>
                    <p>New Orders</p>
                </div>
                <div class="icon">
                   
                    <i class="fa-brands fa-github-square"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                  <h5 class="m-0">Test</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Test</h6>
        
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                  <h5 class="m-0">Test</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Test</h6>
        
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                  <h5 class="m-0">Test</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Test</h6>
        
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                  <h5 class="m-0">Test</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Test</h6>
        
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                  <h5 class="m-0">Test</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Test</h6>
        
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                  <h5 class="m-0">Test</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Test</h6>
        
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-danger">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>




    {% endblock content %}