{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-2">
        <div class="card card-filter">
            <div class="card-header card-filter-header">
                <h5 class="m-0">Division</h5>
            </div>
            <ul class="ks-cboxtags">
                {% for site,division in divisions.items%}
                    <li>
                        <input type="checkbox" id="{{division}}" value="Order one">
                        <label for="{{division}}">{{division}} </label>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-2">
        <div class="card card-filter">
            <div class="card-header card-filter-header">
                <h5 class="m-0">Scope Allocation</h5>
            </div>
            <ul class="ks-cboxtags">
                <li>
                    <input type="checkbox" id="serial" value="Order one">
                    <label for="serial" style="width: 200px;">SERIAL</label>
                </li>
                <li>
                    <input type="checkbox" id="no_aircraft" value="Order one">
                    <label for="no_aircraft" style="width: 200px;">NO AIRCRAFT</label>
                </li>
                <li>
                    <input type="checkbox" id="space" value="Order one">
                    <label for="space" style="width: 200px;">SPACE</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-2">
        <div class="card card-filter">
            <div class="card-header card-filter-header">
                <h5 class="m-0">Profit Center</h5>
            </div>
            <ul class="ks-cboxtags">
                <li>
                    <input type="checkbox" id="profit1" value="Order one">
                    <label for="profit1" style="width: 200px;">Profit 1</label>
                </li>
                <li>
                    <input type="checkbox" id="profit2" value="Order one">
                    <label for="profit2" style="width: 200px;">Profit 2</label>
                </li>
                <li>
                    <input type="checkbox" id="profit3" value="Order one">
                    <label for="profit3" style="width: 200px;">Profit 3</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-2">
        <div class="card card-filter">
            <div class="card-header card-filter-header">
                <h5 class="m-0">Purchasing group</h5>
            </div>
            <ul class="ks-cboxtags">
                <li>
                    <input type="checkbox" id="Purchasing1" value="Order one">
                    <label for="Purchasing1" style="width: 200px;">Purchasing 1</label>
                </li>
                <li>
                    <input type="checkbox" id="Purchasing2" value="Order one">
                    <label for="Purchasing2" style="width: 200px;">Purchasing 2</label>
                </li>
                <li>
                    <input type="checkbox" id="Purchasing3" value="Order one">
                    <label for="Purchasing3" style="width: 200px;">Purchasing 3</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-2">
        <div class="card card-filter">
            <div class="card-header card-filter-header">
                <h5 class="m-0">Week</h5>
            </div>
            <ul class="ks-cboxtags">
                <li>
                    <input type="checkbox" id="week1" value="Order one">
                    <label for="week1" style="width: 200px;">week 1</label>
                </li>
                <li>
                    <input type="checkbox" id="week2" value="Order one">
                    <label for="week2" style="width: 200px;">week 2</label>
                </li>
                <li>
                    <input type="checkbox" id="week3" value="Order one">
                    <label for="week3" style="width: 200px;">week 3</label>
                </li>
            </ul>
        </div>
    </div>
</div>
<center><button class="profile-card__button button--blue">Apply</button></center>

test

<div class="row">
    <div class="col-6">
        <div class="card card-primary card-outline" style="overflow-x:scroll;overflow-y:scroll;height: 600px !important; ">
            <div class="card-header">
                <div class="card-tools" style="margin-right: -0.8rem;" >
                    <li class="list-group-item" style="padding:7px;"><button type="button" class="btn btn-tool" data-card-widget="maximize" style="padding:3px;padding-top: 0px;"><i class="fas fa-expand"></button></i></li>
                </div>
                <h5 class="m-0">SAP Coverage weekly evolution</h5>
            </div>
            <div class="card-body">
                <canvas id="covred_per_week" ></canvas>

                <script>
                    var xValues = ['2022_8','2022_9','2022_10','2022_11'];
                    var data = [0.6,0.4,0.2,0.3];
                    
                    const covred_per_week=new Chart("covred_per_week", {
                        type: "bar",
                        data: {
                                labels: xValues,
                                datasets: [
                                    {
                                    label:'cost',
                                    backgroundColor:  ['#845EC2','#D65DB1','#FF6F91','#FF9671','#FFC75F','#008F7A','#4E8397','#C34A36'],
                                    borderColor:  ['#845EC2','#D65DB1','#FF6F91','#FF9671','#FFC75F','#008F7A','#4E8397','#C34A36'],
                                    borderWidth: 1,
                                    data: data
                                    }
                                ]
                                },
                        options: {
                            plugins: {
                                    datalabels: {
                                        anchor: 'end',
                                        clamp: true,
                                        color: 'black',
                                        // Format to % 
                                        formatter: (value, ctx) => {
                                        let percentage = (value*100).toFixed(2)+"%";
                                        return percentage;
                                    },
                                    },
                                    legend: {
                                    display: false,
                                    position:'right',
                                    align:'middle',
                                    labels: {
                                    usePointStyle: true,
                                    boxWidth: 6
                                    },
                                    },
    
                                    title: {
                                        display: false,
                                        text: "tile"
                                    },
                                    
                                },
                                scales: {
                                    y: {
                                        max:1,
                                        ticks: {
                                            format: {
                                                style: 'percent',
                                            },
                                            beginAtZero: true,
                                            steps: 10,
                                            stepValue: 5,
                                            max:200
                                        }
                                    }
                                },
                                responsive: true,
                                maintainAspectRatio:false, 
                        }
                    });
                </script>
            </div>
        </div>
    </div>

</div>


{% endblock%}
